In [12]:
import pandas as pd
import numpy as np
from os import getcwd
from datetime import datetime
import seaborn as sns

In [13]:
pwd

'/lab/sales'

In [11]:
transactions = pd.read_csv("data_values_clear/transactions.csv")
customers = pd.read_csv("data_values_clear/clients.csv")
products = pd.read_csv("data_values_clear/products.csv")

customersTransaction = customers.merge(transactions, on="client_id")

productCustomerTransac = customersTransaction.merge(products, on="id_product")


outer_join_df = pd.merge(customersTransaction, products, on='id_product', how='outer')
originePrice = productCustomerTransac['price'].sum()



outer_join_df['price'] = outer_join_df['price'].fillna((outer_join_df['price'].mean()))

df_na = outer_join_df.loc[outer_join_df.isnull().any(axis=1)]



outerPriceSum = outer_join_df['price'].sum()
outerPriceSum

5799149.332743908

In [14]:
outer_join_df

,client_id,sex,user_birthday,id_product,sell_date,session_id,transaction_date,sell_year,month,price,category_id
0,c_4410,f,1967.0,0_1455,2021-03-22 14:29:25.189266,s_9942,2021-03-22,2021.0,3.0,8.99,0.0
1,c_4389,m,1984.0,0_1455,2021-07-09 11:16:18.579726,s_59967,2021-07-09,2021.0,7.0,8.99,0.0
2,c_5019,f,1977.0,0_1455,2022-01-15 00:01:53.456196,s_149928,2022-01-15,2022.0,1.0,8.99,0.0
3,c_7049,f,1987.0,0_1455,2021-03-04 14:01:38.698752,s_1637,2021-03-04,2021.0,3.0,8.99,0.0
4,c_5110,f,1982.0,0_1455,2021-09-05 11:48:41.065009,s_85364,2021-09-05,2021.0,9.0,8.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...
336833,NaN,NaN,NaN,0_525,NaN,NaN,NaN,NaN,NaN,2.99,0.0
336834,NaN,NaN,NaN,2_86,NaN,NaN,NaN,NaN,NaN,132.36,2.0
336835,NaN,NaN,NaN,0_299,NaN,NaN,NaN,NaN,NaN,22.99,0.0
336836,NaN,NaN,NaN,0_510,NaN,NaN,NaN,NaN,NaN,23.66,0.0
336837,NaN,NaN,NaN,0_2308,NaN,NaN,NaN,NaN,NaN,20.28,0.0

In [15]:
df_na

,client_id,sex,user_birthday,id_product,sell_date,session_id,transaction_date,sell_year,month,price,category_id
266960,c_4505,m,1976.0,0_2245,2022-01-09 09:23:31.000720,s_147220,2022-01-09,2022.0,1.0,17.216434,NaN
266961,c_3468,f,1981.0,0_2245,2021-09-11 10:52:05.205583,s_88251,2021-09-11,2021.0,9.0,17.216434,NaN
266962,c_1403,f,1978.0,0_2245,2022-02-15 14:26:50.187952,s_165575,2022-02-15,2022.0,2.0,17.216434,NaN
266963,c_3065,f,1977.0,0_2245,2022-01-26 13:34:33.440366,s_155484,2022-01-26,2022.0,1.0,17.216434,NaN
266964,c_7102,m,1983.0,0_2245,2021-04-25 19:58:42.716401,s_25704,2021-04-25,2021.0,4.0,17.216434,NaN
...,...,...,...,...,...,...,...,...,...,...,...
336833,NaN,NaN,NaN,0_525,NaN,NaN,NaN,NaN,NaN,2.990000,0.0
336834,NaN,NaN,NaN,2_86,NaN,NaN,NaN,NaN,NaN,132.360000,2.0
336835,NaN,NaN,NaN,0_299,NaN,NaN,NaN,NaN,NaN,22.990000,0.0
336836,NaN,NaN,NaN,0_510,NaN,NaN,NaN,NaN,NaN,23.660000,0.0
336837,NaN,NaN,NaN,0_2308,NaN,NaN,NaN,NaN,NaN,20.280000,0.0